---
const { node } = Astro.props;
import { homePagePostsQuery } from "../../lib/api";
import PostCard from "../../components/PostCard.astro";
const data = await homePagePostsQuery();
const posts = data.posts.nodes;
let selectedPost = [];
if (node.pageOption && node.pageOption.tags_posts) {
  const subject = node.pageOption.tags_posts;
  selectedPost = posts.filter(
    (post) =>
      post.tags &&
      post.tags.nodes &&
      post.tags.nodes.some((tag) => tag.name === subject)
  );
}
---

<section class="repertory-header">
  <div class="meta-header">
    <p>NormadyQuest</p>
    <h1>{node.title}</h1>
  </div>
</section>
<section>
  {
    selectedPost.map((post) => {
      return <PostCard post={post} class="article" />;
    })
  }
</section>

<style>
  .meta-header {
    max-width: 800px;
  }
  h1 {
    font-size: 2rem;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 3rem;
    }
  }
</style>
