---
import Hero from "../components/Hero.astro";
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { homePagePostsQuery } from "../lib/api";
import MenuWithImageOnHover from "../components/assets/MenuWithImageOnHover.vue";

const data = await homePagePostsQuery();
const posts = data.posts.nodes;
const recentsPost = posts.slice(0, 3);

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<MainLayout title="Home Page">
  <main>
    <Hero />
    <section class="hero-title">
      <p>
        Vous transmettre tous les secrets pour rendre votre visite de la
        Normandie inoubliable
      </p>
      <div class="separator"></div>
      <h2>
        Passionné <span
          >d'histoire <img
            src="https://normandie.spines.fr/wp-content/uploads/2024/01/chateau-caen-normandie.jpeg"
            alt="chateau de normandie - Caen"
            width="80"
          />,
        </span> de paysages, de plages ou <span
          >d'architecture <img
            src="https://normandie.spines.fr/wp-content/uploads/2024/01/architecture-normande.jpeg"
            alt="maison normandes collombages"
            width="80"
          />,</span
        > soyez certain de trouver le bonheur dans le pays fort et vert !
      </h2>
    </section>
    <section class="latest_article_section">
      <h2>Nos derniers articles</h2>
      <div class="articles-items">
        {
          recentsPost.map((post) => {
            return <PostCard post={post} class="article" />;
          })
        }
      </div>
      <div class="cta-container">
        <a href="/" class="cta-primary"
          >Voir tous nos articles <img
            src="/right-arrow.svg"
            width="20"
            alt=""
          /></a
        >
      </div>
    </section>
    <section>
      <h2>Laissez-vous guider autour des grandes thématiques Normandes</h2>
      <MenuWithImageOnHover client:load />
    </section>
    <section class="normandy-cities">
      <h2>Nos articles selon la ville Normande que vous souhaitez visiter</h2>
      <p>
        En Normandie, chaque département, chaque ville à son caractère !
        Retrouvez tous vos articles préférés triées par ville du pays de la
        pomme.
      </p>
      <div class="cities">
        <div class="city-item">Caen</div>
        <div class="city-item">Cabourg</div>
        <div class="city-item">Deauville</div>
        <div class="city-item">Bayeux</div>
        <div class="city-item">Rouen</div>
        <div class="city-item">Coutances</div>
        <div class="city-item">Avranches</div>
      </div>
    </section>
  </main>
</MainLayout>

<style scoped>
  .hero-title {
    box-sizing: border-box;
  }
  .hero-title p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: #767676;
  }
  h2 {
    text-align: center;
    font-weight: 200;
    vertical-align: middle;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .separator {
    width: 20%;
    margin: 2rem auto;
    height: 1px;
    background-color: #767676;
  }
  h2 span {
    display: inline-block;
    vertical-align: middle;
    z-index: 200;
    margin: 0 0.5rem;
  }
  h2 span img {
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
  }
  .latest_article_section {
    background-color: #ffffe9;
  }
  .normandy-cities p {
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .cities {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
    justify-content: center;
  }
  .city-item {
    padding: 0.5rem 1rem;
    border: 2px solid #000;
    border-radius: 10px;
  }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 4.7rem;
      line-height: 6rem;
    }
    h2 span img {
      vertical-align: middle;
      display: inline-block;
      width: 130px;
      height: 70px;
      object-fit: cover;
      border-radius: 50px;
    }
    .hero-title {
      background-color: #fffff7;
      border-radius: 30px 0;
      box-sizing: border-box;
      border-radius: 70px;
      margin-top: -4rem;
    }
    .hero-title p {
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.4rem;
      max-width: 600px;
      margin: 0 auto;
      font-weight: 200;
      color: #767676;
    }
    .articles-items {
      display: flex;
      gap: 20px;
    }
  }
</style>
