---
---

<section>
  <div>
    <h2>NormandyQuest</h2>
    <h1>La meilleure façon de découvrir la Normandie et ses secrets</h1>
  </div>
  <div class="text-flex">
    <div class="line"></div>
    <p>
      Offrez vous un voyage extraordinaire entremêlé d'Histoire, de paysages
      magnifiques, d'anecdotes insolites et croustillantes sur la région
      Normandie et ses spécificités.
    </p>
  </div>
</section>

<style scoped>
  section {
    box-sizing: border-box;
    padding: 4rem 14% !important;
    background-image: url("/normandie-quest-header.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 80px 80px 0 0;
  }
  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  h2 {
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
  }
  p {
    color: #fff;
    font-size: 1.2rem !important;
    max-width: 600px;
  }
  @media screen and (min-width: 768px) {
    section {
      height: 80vh;
      display: flex;
      flex-direction: column;
      padding-bottom: 140px !important;
      justify-content: space-between;
    }
    .text-flex {
      display: flex;
      align-items: center;
    }
    .text-flex p {
      width: 80%;
      margin: 0;
      font-size: 1rem !important;
    }
    .line {
      width: 100%;
      height: 1px;
      opacity: 0.5;
      background-color: #fff;
      margin-right: 40px;
    }
    h1 {
      font-size: 4rem;
      line-height: 5rem;
      max-width: 800px;
      margin: 0;
    }
    h2 {
      font-size: 1rem;
    }
  }
</style>
