---
---

<section>
  <h2>NormandyQuest</h2>
  <h1>La meilleure façon de découvrir la Normandie et ses secrets</h1>
  <p></p>
</section>

<style scoped>
  section {
    box-sizing: border-box;
    padding: 4rem 3rem;
    background-image: url("https://normandie.spines.fr/wp-content/uploads/2024/01/Capture-decran-2024-01-20-a-20.26.59.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0;
  }
  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  h2 {
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
  }
</style>
